# Distribution / packaging
.Python
env/
node_modules/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
__pycache__/

# Serverless directories
.serverless
